.form-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 16px;
}


.search-add-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .search-box {
    flex: 1;
    max-width: 400px;
  }

  .add-button {
    margin-left: auto;
  }
}

.table-container {
  overflow-x: auto;
}

